body {
    /* font-family: monospace; */
    /* border: 1px solid red; */
}

@media (max-device-width : 2000px) {
    .bio-container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    
        /* top: 100px; */
        width: calc(min(700px, 90vw));
        height: 1800px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        /* border-radius: 5px; */
    }



    /* Heading section */

    .bio-header-container {
        display: inline-block;
        width: inherit;
        /* background-color: #ffff99; */
        /* border-radius: 5px 5px 0 0; */
        border: solid black;
        border-width: 0 0 1px 0;
    }

    .bio-header-container-big {
        height: calc(100px + 200px/3);
    }

    .bio-header-container-small {
        height: calc(50px + 200px/3); 
    }



    /* Image container */

    .bio-header-img-container {
        float: left;
        /* border: 1px solid red; */
        height: inherit;
    }

    .bio-header-img-container-big {
        width: 125px;
    }

    .bio-header-img-container-small {
        width: calc(100px + 200px/3);
    }



    .bio-header-name-and-contacts-container {
        float: left;
        /* border: 1px solid blue; */
        /* display: block; */
        margin-top: calc(200px/3);
    }



    /* Avatar section */

    .avatar {
        position: relative;
        top: calc(200px/3);
    }

    .avatar-sticking-out {
        left: -100px;
        width: 200px;
        height: 200px;
        border-radius: 100px;
    }
    
    .avatar-inner {
        left: calc(100px/3);
        width: 100px;
        height: 100px;
        border-radius: 50px;
    }



    /* Name and contacts */

    .header-text {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        /* color: black; */
    }

    .header-text-big {
        font-size: 25px;
    }

    .header-text-small {
        font-size: 15px;
    }

    .name {
        color: black;
        font-weight: bolder;
    }

    .contacts {
        color: gray;
    }
}

@media (max-device-width : 600px) {
    .bio {
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }

    .avatar {
        position: relative;
        top: calc(50px/3);
        left: calc(40px/3);
        width: 50px;
        height: 50px;
        border-radius: 25px;
    }
}

