@font-face {
	font-family: 'VisiaPro';
	font-style: normal;
	font-weight: normal;
	src:
		url('/static/fonts/VisiaPro/VisiaPro-Light.woff2') format('woff2'), 
		url('/static/fonts/VisiaPro/VisiaPro-Light.woff') format('woff'),
		url('/static/fonts/VisiaPro/VisiaPro-Light.ttf') format('ttf'),
		url('/static/fonts/VisiaPro/VisiaPro-Light.eot') format('eot');
}