:root {
    --bg-color-light: white;
    --bg-color-dark: #303030;

    --main-color-light: black;
    --main-color-dark: white;

    --light-color: lightgrey;
    --dark-color: darkgrey;
    --accent-color: #209CEE;
}

body {
    margin: 0px;
    font-family: 'VisiaPro';
	font-style: normal;
	font-weight: normal;
    font-size: min(4vw, 2vh);
    overflow: hidden;
}

.container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    transition: ease;
    transition-property: top;
    transition-duration: 0.5s;
}

.x-center {
    display: flex;
    justify-content: center;
}

.y-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inherit-width {width: inherit;}
.inherit-height {height: inherit;}

.about-me {
    top: 0vh;
    color: var(--main-color-light);
    background-color: var(--bg-color-light);
}

.button {cursor: pointer;}

.cv {
    top: 100vh;
    color: var(--main-color-dark);
    background-color: var(--bg-color-dark);
}

.avatar {
    width: min(50vw, 25vh);
    height: min(50vw, 25vh);
    border-radius: 100%;
    object-fit: cover;
}

.full-margin-top {margin-top: min(5vw, 2.5vh);}
.double-margin-top {margin-top: min(10vw, 5vh);}

.cn-link-container-width {width: min(16vw, 8vh);}
.cn-link-container-height {height: min(16vw, 8vh);}

.cn-link {
    width: min(12vw, 6vh);
    height: min(12vw, 6vh);
    object-fit: cover;
    transition: ease;
    transition-property: all;
    transition-duration: 0.15s;
}
.cn-link:hover {
    width: min(16vw, 8vh);
    height: min(16vw, 8vh);
}

.arrow-container {height: min(6vw, 3vh);}
.arrow {
    height: min(4vw, 2vh);
    object-fit: cover;
}
.arrow-down {animation: arrow-down-animation 1s infinite;}
.arrow-up {
    transform: rotate(180deg);
    animation: arrow-up-animation 1s infinite;
}

@keyframes arrow-down-animation {
    from {margin-top: 0vh;}
    50% {margin-top: min(2vw, 1vh)}
    to {margin-top: 0vh;}
}

@keyframes arrow-up-animation {
    from {margin-top: min(2vw, 1vh);}
    50% {margin-top: 0vh;}
    to {margin-top: min(2vw, 1vh);}
}

.cv-content {
    width: min(90vw, 50vh);
    margin-bottom: min(30vw, 15vh);
}

.cv button {
    width: 100%;
    height: min(7vw, 3.5vh);
    margin-top: min(7.5vw, 3.75vh);
    margin-right: min(2vw, 1vh);
    padding-left: min(2vw, 1vh);
    padding-right: min(2vw, 1vh);
    color: var(--main-color-dark);
    background-color: transparent;
    border: 1px solid var(--light-color);
    border-radius: min(1vw, 0.5vh);
    font-size: min(3vw, 1.5vh);
    cursor: pointer;
}

.cv a {color: var(--main-color-dark);}
.cv a:active {color: var(--main-color-dark);}
.cv a:visited {color: var(--main-color-dark);}

.title {
    margin-bottom: min(2.5vw, 1.25vh);
    font-size: min(6vw, 3vh);
}
.cv .title {
    margin-top: min(7.5vw, 3.75vh);
    padding-bottom: min(2.5vw, 1.25vh);
    border-bottom: 1px solid var(--main-color-dark);
}

.text-justify-align {
    margin-bottom: min(2.5vw, 1.25vh);
    font-size: min(4vw, 2vh);
    text-align: justify;
}