<!DOCTYPE html>
<html lang="en">
    <head>
        <title>clipdecliprepeat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <div class="container about-me" id="about-me">
            <div class="y-center inherit-height">

                <div class="x-center">
                    <img class="avatar" id="avatar" src="/static/images/avatar.png" alt="clipdecliprepeat">
                </div>

                <div class="x-center double-margin-top title">Mikhail Petrov</div>
                <div class="x-center">Python programmer</div>
                <div class="x-center">Data analyst</div>

                <div class="x-center full-margin-top">
                    <div class="y-center cn-link-container-height">
                        <div class="x-center cn-link-container-width">
                            <a href="mailto:petrov.ma@icloud.com">
                                <img class="cn-link" src="/static/images/icons/email.svg">
                            </a>
                        </div>
                    </div>
                    <div class="y-center cn-link-container-height">
                        <div class="x-center cn-link-container-width">
                            <a href="https://www.linkedin.com/mwlite/in/михаил-петров-559b70240">
                                <img class="cn-link" src="/static/images/icons/linkedin.svg">
                            </a>
                        </div>
                    </div>
                    <div class="y-center cn-link-container-height">
                        <div class="x-center cn-link-container-width">
                            <a href="https://t.me/clipdecliprepeat">
                                <img class="cn-link" src="/static/images/icons/telegram.svg">
                            </a>
                        </div>
                    </div>
                    <div class="y-center cn-link-container-height">
                        <div class="x-center cn-link-container-width">
                            <a href="https://instagram.com/clipdecliprepeat">
                                <img class="cn-link" src="/static/images/icons/instagram.svg">
                            </a>
                        </div>
                    </div>
                    <div class="y-center cn-link-container-height">
                        <div class="x-center cn-link-container-width">
                            <a href="https://github.com/ma-petrov">
                                <img class="cn-link" src="/static/images/icons/github.svg">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="x-center button full-margin-top" id="open-cv-button">
                    <div>
                        <div class="x-center">CV</div>
                        <div class="x-center arrow-container">
                            <img class="arrow arrow-down" src="/static/images/icons/arrow-down.svg">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container cv" id="cv">
            <div class="y-center inherit-height">

                <div class="x-center button full-margin-top" id="close-cv-button">
                    <div>
                        <div class="x-center arrow-container">
                            <img class="arrow arrow-up" src="/static/images/icons/arrow-up.svg">
                        </div>
                        <div class="x-center">Back</div>
                    </div>
                </div>

                <div class="x-center tail-margin-bottom">
                    <div class="cv-content">
                        <div class="title">Experience</div>
                        <div class="text-justify-align">– OTP Bank (July 2019 - present), senior risk portfolio analyst</div>
                        <div class="text-justify-align">– Kazantracks project (April 2022 - present), fullstack developer. <a href="https://kazantracks.ru">Kazantracks website</a>, <a href="https://github.com/ma-petrov/routsweb">Project repository</a></div>

                        <div class="title">Skills</div>
                        <div class="text-justify-align">– Python, Django, Asyncio, Aiohttp, JavaScript</div>
                        <div class="text-justify-align">– Oracle SQL, Postgresql</div>
                        <div class="text-justify-align">– Docker, Gunicorn, Nginx, Linux, Apache Airflow</div>
                        <div class="text-justify-align">– Statistics</div>

                        <div class="title">Education</div>
                        <div class="text-justify-align">Higher School of Economics, 2017-2021, faculty of informatics and computer technology</div>
                        
                        <button onclick="window.open('/static/files/cv.pdf')">Download CV</button>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </body>

    <script src="/static/scripts/index.js"></script>
</html>