<!DOCTYPE html>
<html lang="en">
    <head>
        <title>clipdecliprepeat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/index.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <script src="/static/scripts/logging.js"></script>
    </head>

    <body>
        <div class="container" id="about-me">
            <div class="y-center inherit-height">

                <div class="x-center avatar-container">
                    <img src="/static/images/avatar.png" alt="clipdecliprepeat">
                </div>

                <div class="text-center">
                    <h1>Mikhail Petrov</h1>
                    <p>Python programmer</p>
                    <p>Data analyst</p>
                </div>

                {% if links %}
                    <div class="x-center full-margin-top">
                    {% for l in links %}
                        <div class="y-center cn-link-container-height">
                            <div class="x-center cn-link-container-width">
                                <a href="{{ l.href }}">
                                    <img class="cn-link" src="{{ l.img_src }}">
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                {% endif %}

                <div class="x-center button full-margin-top move-down-button">
                    <div>
                        <div class="x-center">CV</div>
                        <div class="x-center arrow-container">
                            <img class="arrow arrow-down" src="/static/images/icons/arrow-down.svg">
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="container" id="cv">
            <div class="y-center inherit-height">

                <div class="x-center button full-margin-top move-up-button">
                    <div>
                        <div class="x-center arrow-container">
                            <img class="arrow arrow-up" src="/static/images/icons/arrow-up.svg">
                        </div>
                        <div class="x-center">Back</div>
                    </div>
                </div>

                <div class="x-center tail-margin-bottom">
                    <div class="cv-content">
                        <h1>Experience</h1>
                        <p>– OTP Bank (July 2019 - present), senior risk portfolio analyst</p>
                        <p>– Kazantracks project (April 2022 - present), fullstack developer. <a href="https://github.com/ma-petrov/routsweb">Project repository</a></p>

                        <h1>Skills</h1>
                        <p>– Python, Django, Asyncio, Aiohttp, JavaScript</p>
                        <p>– Oracle SQL, Postgresql</p>
                        <p>– Docker, Gunicorn, Nginx, Linux, Apache Airflow</p>
                        <p>– Statistics</p>

                        <h1>Education</h1>
                        <p>Higher School of Economics, 2017-2021, faculty of informatics and computer technology</p>
                        
                        <button onclick="window.open('/static/files/cv.pdf')">Download full CV</button>
                        
                    </div>
                </div>
                
            </div>
        </div>
    </body>

    <script src="/static/scripts/index.js"></script>
</html>