<!DOCTYPE html>
<html lang="en">
    <head>
        <title>clipdecliprepeat</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/fonts.css">
        <link rel="stylesheet" href="/static/css/index.css">
    </head>

    <body>
        <div class="container about-me" id="about-me">
            <div class="y-center">
                <div class="x-center">
                    <img class="avatar" id="avatar" src="/static/images/avatar.png" alt="clipdecliprepeat">
                </div>

                <div class="x-center double-margin-top title">Mikhail Petrov</div>
                <div class="x-center">Python programmer</div>
                <div class="x-center">Data analyst</div>

                <div class="contacts x-center full-margin-top">
                    <div class="y-center">
                        <div class="x-center cn-link-container-width">
                            <a href="mailto:petrov.ma@icloud.com">
                                <img class="cn-link" src="/static/images/icons/email.svg">
                            </a>
                        </div>
                    </div>
                    <div class="y-center">
                        <div class="x-center cn-link-container-width">
                            <a href="https://www.linkedin.com/mwlite/in/михаил-петров-559b70240">
                                <img class="cn-link" src="/static/images/icons/linkedin.svg">
                            </a>
                        </div>
                    </div>
                    <div class="y-center">
                        <div class="x-center cn-link-container-width">
                            <a href="https://t.me/clipdecliprepeat">
                                <img class="cn-link" src="/static/images/icons/telegram.svg">
                            </a>
                        </div>
                    </div>
                    <div class="y-center">
                        <div class="x-center cn-link-container-width">
                            <a href="https://instagram.com/clipdecliprepeat">
                                <img class="cn-link" src="/static/images/icons/instagram.svg">
                            </a>
                        </div>
                    </div>
                    <div class="y-center">
                        <div class="x-center cn-link-container-width">
                            <a href="https://github.com/ma-petrov">
                                <img class="cn-link" src="/static/images/icons/github.svg">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="x-center button full-margin-top" id="open-cv-button">
                    <div>
                        <div class="x-center">CV</div>
                        <div class="x-center arrow-container">
                            <img class="arrow arrow-down" src="/static/images/icons/arrow-down.svg">
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <div class="container cv" id="cv">
                <div class="x-center button full-margin-top" id="close-cv-button">
                    <div>
                        <div class="x-center arrow-container">
                            <img class="arrow arrow-up" src="/static/images/icons/arrow-up.svg">
                        </div>
                        <div class="x-center">Back</div>
                    </div>
                </div>
    
                <div class="x-center">
                    <div class="cv-content">

                        <div class="cv-transition-wrapper-h1"><h1>Experience</h1></div>
                        <div class="cv-transition-wrapper-p"><p>– OTP Bank (July 2019 - present), senior risk portfolio analyst</p></div>
                        <div class="cv-transition-wrapper-p"><p style="padding-left: min(8vw, 4vh);">– Risk reporting automation (Python, Apache Airflow, Oracle, Django);</p></div>
                        <div class="cv-transition-wrapper-p"><p style="padding-left: min(8vw, 4vh);">– Model Development for automatic tracking of negative dynamics of business metrics (telegram bot, Numpy, Sklearn, Django);</p></div>
                        <div class="cv-transition-wrapper-p"><p style="padding-left: min(8vw, 4vh);">– Credit card portfolio analysis and strategy refinement (3% increase in the approval rate);</p></div>
                        <div class="cv-transition-wrapper-p"><p style="padding-left: min(8vw, 4vh);">– Credit strategy optimization in terms of determining the limit (the total one-off effect is about 300 million rubles).</p></div>

                        <div class="cv-transition-wrapper-p"><p>– Kazantracks project (April 2022 - present), fullstack developer</p></div>
                        <div class="cv-transition-wrapper-p"><p style="padding-left: min(8vw, 4vh);">– Website development, back-end (Python и Django), front-end (Javascript);</p></div>
                        <div class="cv-transition-wrapper-p"><p style="padding-left: min(8vw, 4vh);">– Made website work in production using Docker, Gunicorn, Nginx;</p></div>
                        <div class="cv-transition-wrapper-p"><p><a href="https://kazantracks.ru">Kazantracks website</a>, <a href="https://github.com/ma-petrov/routsweb">Project repository</a></p></div>
    
                        <div class="cv-transition-wrapper-h1"><h1>Skills</h1></div>
                        <div class="cv-transition-wrapper-p"><p style="text-align: left;">– Python, Django, Asyncio, Aiohttp, JavaScript</p></div>
                        <div class="cv-transition-wrapper-p"><p style="text-align: left;">– Oracle SQL, Postgresql</p></div>
                        <div class="cv-transition-wrapper-p"><p style="text-align: left;">– Docker, Gunicorn, Nginx, Linux, Apache Airflow</p></div>
                        <div class="cv-transition-wrapper-p"><p style="text-align: left;">– Statistics</p></div>
    
                        <div class="cv-transition-wrapper-h1"><h1>Education</h1></div>
                        <div class="cv-transition-wrapper-p"><p class="text-justify-align">Higher School of Economics, 2017-2021, faculty of informatics and computer technology</p></div>
                    </div>
                </div>
        </div>
    </body>

    <script src="/static/scripts/index.js"></script>
</html>